.Info {
  text-align: center;
  margin-top: 30px;
}

.PlayerName {
  margin: 0;
}

.PlayerTag {
  margin: 0;
  font-size: 18px;
  color: darkgray;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.TrophyContainer {
  display: flex;
  justify-content: center;
}

.ArenaContainer {
  display: flex;
  justify-content: center;
}

.ClanNameContainer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}